USE [master]
GO
/****** Object:  Database [AngularDB]    Script Date: 14/01/2018 17:09:34 ******/
CREATE DATABASE [AngularDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AngularDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.LOCALSERVER\MSSQL\DATA\AngularDB.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'AngularDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.LOCALSERVER\MSSQL\DATA\AngularDB_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AngularDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AngularDB]
GO
/****** Object:  Table [dbo].[Login]    Script Date: 14/01/2018 17:09:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Login](
	[PersonID] [int] IDENTITY(1,1) NOT NULL,
	[Person] [nvarchar](255) NULL,
	[Active] [bit] NULL,
	[Password] [varchar](50) NULL,
 CONSTRAINT [PK_PersonLogin] PRIMARY KEY CLUSTERED 
(
	[PersonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Person]    Script Date: 14/01/2018 17:09:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Person](
	[PersonID] [int] IDENTITY(1,1) NOT NULL,
	[Person] [nvarchar](255) NULL,
	[Active] [bit] NULL,
	[LastLogin] [smalldatetime] NULL,
	[DateOfRegistration] [varchar](50) NULL,
	[FirstName] [varchar](50) NULL,
	[MiddleName] [varchar](50) NULL,
	[LastName] [varchar](50) NULL,
	[Title] [varchar](50) NULL,
	[Address] [varchar](500) NULL,
	[City] [varchar](50) NULL,
	[State] [varchar](50) NULL,
	[County] [varchar](10) NULL,
	[Zip] [varchar](50) NULL,
	[Country] [varchar](50) NULL,
	[PhoneHome] [nvarchar](50) NULL,
	[PhoneMobile] [nvarchar](50) NULL,
 CONSTRAINT [PK_Person] PRIMARY KEY CLUSTERED 
(
	[PersonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[Login]  WITH CHECK ADD  CONSTRAINT [FK_Person] FOREIGN KEY([PersonID])
REFERENCES [dbo].[Person] ([PersonID])
GO
ALTER TABLE [dbo].[Login] CHECK CONSTRAINT [FK_Person]
GO
/****** Object:  Trigger [dbo].[PersonInsert]    Script Date: 14/01/2018 17:09:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER [dbo].[PersonInsert] ON [dbo].[Person]
FOR INSERT   
AS

declare @Password VARCHAR(200) = NEWID()
	INSERT INTO dbo.[Login] ([PersonID], [Person], [Active], [Password])
	SELECT
		Inserted.PersonID, Inserted.Person, Inserted.Active, @Password 
	FROM Inserted
  

GO
USE [master]
GO
